<div class="container py-4 d-flex justify-content-between gap-5">
    <div class="w-50">
        <h3 class="subtitulo">Escribenos</h3>
        <form class="formulario-contacto row">
            <div class="mb-4 col-6">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
            </div>
            <div class="mb-4 col-6">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
            </div>
            <div class="mb-4 col-6">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <div class="mb-4 col-6">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Asunto">
            </div>
            <div class="mb-4">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje"></textarea>
            </div>
            <div class="mb-4">
                <button 
                    type="button"
                    class="btn btn-dark w-100 fw-bold"
                >Enviar</button>
            </div>
        </form>
    </div>
    <div class="w-50">
        <h3 class="subtitulo">Oficinas</h3>
        <p>Valle del Real. Real de Nuevo León 109. León, Guanajuato, México, 37545.</p>
        <p>Conmutador: (477) 924 13 97</p>
        <p>Atención al cliente: (477) 924 13 97</p>
        <p>contacto-contacto.com</p>
    </div>
</div>